.header {
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-title);
  background-color: #e6e4e460;
}

.header__logo {
  width: 5.5rem;
}

.header__title {
  font-size: 2rem;
}