body {
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  background-image: url(https://i.pinimg.com/736x/bf/d7/a4/bfd7a447682fec27beea68a8201656eb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  width: 100%;
  text-align: center;
}

.header, .main, .footer {
  width: 80%;
  border: 1px solid pink;
  margin: 0 auto;
  box-sizing: border-box;
}

.img {
  width: 4rem;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-inline: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #FFF;
}

.list {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-weight: 700;
}

.list-item {
  margin-right: 1rem;
}

.list-item-a {
  text-decoration: none;
  color: pink;
  transition: .1s;
}

.list-item-a:hover {
  color: rgb(252, 112, 135);
  transition: .1s;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
}

.link-footer {
  color: rgb(255, 132, 153);
}

.main {
  display: flex;
  padding: 2.375rem;
  background-color: #FFF;
}

.desc {
  text-align: left;
  line-height: 2rem;
}

.section {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.btn {
  background-color: rgb(252, 112, 135);
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  border: none;
  color: #FFF;
  padding: 1rem;
  width: 8rem;
  font-size: 1rem;
  font-weight: bold;
  transform: .2s;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(255, 132, 153);
  transform: .2s;
}

.bg-section {
  width: 30rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  background-color: #FFF;
}

.fa-brands {
  color: rgb(255, 132, 153);
  margin-right: .5rem;
}

.fa-brands:hover {
  /* color: rgb(255, 112, 153); */
  cursor: pointer;
}

.fa-instagram:hover {
  color: #d20058;
}

.fa-facebook-f:hover {
  color: #3a5796;
}

.fa-twitter:hover {
  color: #1c9cea;
}

.awa {
  margin: 1rem 0;
  line-height: 2rem;
  background-image: url(https://i.pinimg.com/originals/75/42/84/754284e0ba9246221123c1d6d2f47dcd.jpg);
  background-size: 150%;
  background-position: center;
  width: 10rem;
  padding: .5rem;
  font-weight: bold;
  font-size: .9rem;
}

.awa-title {
  font-size: 1.5rem;
}

.awa li {
  list-style: circle;
  margin-left: 2.5rem;
}

/* Sobre nós - estilização */

.main-about{
  display: flex;
  flex-direction: column;
}

.desc-about {
  text-align: justify;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 2rem;
}

table {
  text-align: left;
  margin-top: 1.5rem;
}

table thead {
  font-weight: bold;
}

table tr {
  line-height: 1.5rem;
}

th, td {
  border: 2px solid pink;
  padding: .5rem;
}


/* Contato -  estilização */

.image {
  width: 50%;
  height: 50rem;

  background-image: url(../img/ball.jpg);
  background-position: center;
  background-repeat: no-repeat;

  color: pink;
}

.text {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 3rem;
}

.image h2 {
  font-weight: bold;
  font-size: 2rem;
}

.image p {
  font-size: 1rem;
}

.uwu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.uwu h2 {
  padding-inline: 1rem;
}

.fa-solid {
  font-size: 1.5rem;
}


/* Formulário - estilização */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgb(255, 132, 153, 0.1);
}

.form form {
  display: flex;
  flex-direction: column;
}

.form-title {
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.input {
  padding: .5rem;
  border: 1px solid #000;
  width: 15rem;
  margin: 0 auto;
}

.form label {
  margin: 1rem 0 .1rem 23%;
}

.form-btn {
  margin: 0 auto;
  margin-top: 2rem;
}

.check {
  margin: 0 auto;
  margin-bottom: .2rem;
}