body {
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
}

.text {
  width: 100%;
  text-align: center;
}

.header, .main, .footer {
  width: 80%;
  border: 1px solid pink;
  margin: 0 auto;
  box-sizing: border-box;
}

.img {
  width: 4rem;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-inline: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.list {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-weight: 700;
}

.list-item {
  margin-right: 1rem;
}

.list-item-a {
  text-decoration: none;
  color: pink;
  transition: .1s;
}

.list-item-a:hover {
  color: rgb(252, 112, 135);
  transition: .1s;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
}

.link-footer {
  color: rgb(255, 132, 153);
}

.main {
  display: flex;
  padding: 2.375rem;
}

.desc {
  text-align: left;
  line-height: 1.5rem;
}

.section {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.btn {
  background-color: rgb(252, 112, 135);
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  border: none;
  color: #FFF;
  padding: 1rem;
  width: 8rem;
  font-size: 1rem;
  font-weight: bold;
  transform: .2s;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(255, 132, 153);
  transform: .2s;
}

.bg-section {
  width: 30rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
}

.fa-brands {
  color: rgb(255, 132, 153);
  margin-right: .5rem;
}

.fa-brands:hover {
  color: rgb(255, 112, 153);
  cursor: pointer;
}