.div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.img {
  border-radius: 2rem;
}

.audio {
  position: absolute;
  align-self: flex-end;
  z-index: 1;
  width: 400px;
  top: 357px;
}