@import url(_var.css);

body {
  font-family: var(--font);
}

.container__title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: bold;
  color: var(--blue);
}

.form-message {
  display: grid;
  width: 30rem;
  margin: 0 auto;
  margin-top: 2rem;
  border: 1px solid var(--pink);
  padding: 2rem 1rem;
}

.form-message input {
  padding: .5rem;
  border: 1px solid #CCC;
  margin-top: .2rem;
}

.form-message textarea {
  border: 1px solid #CCC;
  margin-top: .2rem;
  resize: none;
}

#addBtn {
  font-family: var(--font);
  border: 1px solid #CCC;
  padding: .5rem;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  cursor: pointer;
  background-color: var(--blue);
  color: #FDFDFD;
  font-size: 1rem;
}

.section__title {
  text-align: center;
  font-size: 1.325rem;
  font-weight: bold;
  color: var(--blue);
  margin-top: 2rem;
}

@media (max-width: 425px) {
  .form-message {
    width: 90%;
  }
} 

ul {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  border-bottom: 1px solid var(--pink);
}

li {
  margin-bottom: .5rem;
}

table {
  margin: 0 auto;
  text-align: left;
  margin-top: 1.5rem;
}

table thead {
  font-weight: bold;
  font-size: .9rem;
}

table tr {
  line-height: 1.5rem;
}

th, td {
  border: 1px solid var(--pink);
  padding: .5rem;
}

th {
  width: 7rem;
  text-align: left;
}

.icon {
  margin-inline: .5rem;
}

.undo {
  cursor: pointer;
  margin-top: 1.6rem;
}

.div-table {
  display: flex;
  width: 35%;
  margin: 0 auto;
}