@import url(_var.css);

body {
  font-family: var(--font);
}

.main {
  background-image: url(../img/bg-img.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;

  display: flex;
  justify-content: right;
}

.section-form {
  width: 50%;
  height: 100vh;

  background-color: var(--bg-color);
  color: var(--font-color);
}

.form {
  display: flex;
  flex-direction: column;
  position: fixed;

  padding: 0rem 5rem;

  font-weight: 500;
  font-size: 1.2rem;
}

.label {
  margin: 1.5rem 0 .2rem 0;
}

.form input {
  width: 22rem;
  padding: .8rem;
  background: none;
  border: 1px solid var(--border-color);
  color: var(--font-color);
  border-radius: 5px;
}

.form-btn {
  padding: .5rem;
  width: 18rem;
  margin-top: 1rem;

  cursor: pointer;

  font-family: var(--font);
  background-color: #EB8028;
  
  border: none;
  border-radius: 5px;
}

.desc {
  font-size: .8rem;
  font-weight: 100;
  margin-top: .5rem;
}

/* Modal  - estillização */

.openModal {
  position: absolute;

  left: 3rem;
  top: 1rem;
  width: 14rem;
  padding: .5rem;
  margin-top: 1rem;

  border: none;
  border-radius: 5px;

  cursor: pointer;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 500;
}

.hide {
  display: none;
}

.section-modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  margin: 15% auto;
  padding: 2rem;
  width: 80%;
  background-color: #FDFDFD;
  display: flex;
  flex-direction: column;
}

.close {
  cursor: pointer;
  font-size: 1.5rem;
  align-self: flex-end;
}

.table {
  margin-top: 1rem;
}

.table tr {
  border-bottom: 1px solid var(--bg-color);
}

.table th, td {
  border-right: 1px solid var(--bg-color);
  padding-inline: .5rem;
  text-align: center;
}

.table th:last-child, td:last-child {
  border: none;
}

th {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: .3rem;
}

td {
  padding: .5rem 0;
}

.switch {
  position: absolute;
  top: 95%;
  left: 1%;
  display: inline-block;
  width: 100px;
  height: 34px;
}

.switch i {
  cursor: pointer;
}

.bg2 {
  background-image: url(../img/bg-img2.svg);
}

.colorForm2 {
  background-color: var(--bg-color2);
}

.formBtnColor2 {
  background-color: #BCB4D7;
}

.white {
  color: white;
}

.modalError {
  position: absolute;
  width: 15rem;
  padding: 1rem .5rem;
  background-color: #FDFDFD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin: 1rem 2rem 0 0;
}