.header {
  background-color: var(--bg-color);
  height: 15rem;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: var(--font-title);
  padding: 1rem 0 2rem 0;
}

.header__logo {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
}

.header__title {
  font-size: 2rem;
  color: #FFF;
  line-height: 44px;
}

.header__title2 {
  font-size: 2rem;
  color: var(--title-color);
  line-height: 50px;
}